.edit{
  display: flex;
  justify-content: center;
  margin-left:20%;
  position: fixed;
  color: #000;
  height: 60%;
  width: 34%;
  top: 15%;
  visibility: hidden;
}

.edit__enabled{
  visibility: visible;
}

.edit__overlay{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1;
  opacity: .7;
}

.edit__window{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 6%;
  height: 100%;
  width: 90%;
  margin-right: 5%;
  padding: 5%;
  z-index: 1;
  visibility: hidden;
}

.edit__window-enabled{
  visibility: visible;
}

.edit__window-title{
  font-weight: bolder;
}

.edit__close{
  position: absolute;
  width: 5%;
  height: 7%;
  right: 0;
  z-index: 1;
  visibility: hidden;
}

.edit__close-enabled{
  visibility: visible;
}

.edit__close:hover{
  opacity: 70%;
  cursor: pointer;
}

.edit__window-form{
  display: flex;
  flex-direction: column;
}
.edit__window-form-input{
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  margin-top: 8px;
  font-family: inherit;
  justify-items: center;
  padding: 5% 0 5% 7%;
  border-radius: 4px;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #838383;
}

.edit__window-form-button{
  margin-top: 32px;
  max-width: 385px;
  height: 60px;
  color: white;
  background-color: #000;
  border-radius: 4px;
  opacity: 1;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 5%;
}

.edit__window-form-button:hover{
  opacity: 70%;
  cursor: pointer;
}

.edit__window-error{
  color: red;
}

/*Validaciones formulario*/
.popup__input:hover {
  border-bottom-color: #000;
}

.popup__input:focus {
  border-bottom-color: #007DFF;
}
.popup__input:invalid{
  border-bottom: 1px solid red;
}

.popup__input:valid{
  border-bottom: 1px solid green;
}

.popup__checkbox:checked + .popup__checkbox-item{
  background: #007DFF;
}

.popup__checkbox:checked + .popup__checkbox-item::before{
  background: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/moved_checkbox.svg) center no-repeat;
}


.button_inactive{
  opacity: 70%;
}